@tailwind base;
@tailwind components;
@tailwind utilities;

.command-list-item .edit-link {
    transition: visibility 0.3s eases;
    visibility: hidden;
}

.command-list-item:hover .edit-link {
    visibility: visible;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}
