@tailwind base;
@tailwind components;
@tailwind utilities;

.command-list-item .edit-link {
    transition: visibility 0.3s eases;
    visibility: hidden;
}

.command-list-item:hover .edit-link {
    visibility: visible;
}
