@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-link {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgb(12, 12, 46);
    font-weight: 600;
    opacity: 0;
    border-radius: 5px;
}

.command:hover > .edit-link {
    opacity: 1;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}
